<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="../css/dashbordcss.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="full-height raduse">
        <ul class="sidebar-nav">
            <li > <a class="menulink" href="../login"> صفحه اصلی </a> </li>
            <li > <a class="menulink" href="sendmassege"> ارسال پیام </a> </li>
            <li > <a class="menulink" href="allmassege">پیگیری پیام ها</a> </li>
            <li > <a class="menulink" href="../changepass">تغییر رمز</a> </li>
            <li> <a class="menulink" href="../logout">خروج</a> </li>
        </ul>
    </div> <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form>
                        <br>
                        <tr>
                            <div class="row">
                                <div class="col-md-2"><b>موضوع</b></div>
                                <div class="col-md-7"><input  type="text" value="تست" class="form-control inp" aria-label="Small"  aria-describedby="inputGroup-sizing-sm" disabled></div>
                            </div>
                        </tr>
                        </br>
                        <tr >
                            <div class="row">
                                <div class="col-md-2"><b>پیام</b></div>
                                <div class="col-md-10"><textarea disabled type="text" rows="5" class="form-control inp" aria-label="Small"  aria-describedby="inputGroup-sizing-sm">این متن جهت تست بوده و فاقد اعتباراست</textarea></div>
                            </div>
                        </tr>
                        </br>
                        <tr >
                            <div class="row">
                                <div class="col-md-2"><b>زمان</b></div>
                                <div class="col-md-3"><input  disabled type="text" value="98/1/8" class="form-control text-center inp" aria-label="Small"  aria-describedby="inputGroup-sizing-sm"></div>
                            </div>
                        </tr>
                        </br>
                        <tr >
                            <div class="row">
                                <div class="col-md-2"><b>پاسخ</b></div>
                                <div class="col-md-10"><textarea disabled type="text" rows="5" class="form-control inp" aria-label="Small"  aria-describedby="inputGroup-sizing-sm">این متن جهت تست بوده و فاقد اعتباراست</textarea></div>
                            </div>
                        </tr>
                        </br>
                        <tr >
                            <div class="row">
                                <div class="col-md-2"><b>زمان حل </b></div>
                                <div class="col-md-3"><input  disabled type="text" value="1 ساعت" class="form-control text-center inp" aria-label="Small"  aria-describedby="inputGroup-sizing-sm"></div>
                            </div>
                        </tr>

                        
                        </table>


                    </form>
                </div>
            </div>
        </div>
    </div> <!-- /#page-content-wrapper -->
</div> <!-- /#wrapper -->

</body>
</html>